*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
    transition: all 2s;
}
ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}


/* header */

  header{
    padding: 55px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header__left img {
    cursor: pointer;
  }

  .header__banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__left img{
    width: 100%;
    height: 100%;
    display: block;
  }
  .text__content {
    
  }

  .text__content a{
    margin-left: 20px;
    cursor: pointer;
  }

  .text__content i{
    font-size: 10px;
    vertical-align: 3px;
  }

  .btn__color{
    margin-left: 40px;
    padding: 20px 35px;
    border-radius: 40px;
    border: 1px solid transparent;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    font-size: 15px;
    line-height: 1.2;
    transition: all 0.5s;
    cursor: pointer;
}

 .btn__color:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
 }

 .text__content a span {
    display: inline-block;
    transition: all 0.5s;
    color: #070120;
    font-size: 16px;
    font-weight: 500;
    
  }
  a:hover {
    color: #f55f8d;
  }
  a:hover span {
    animation: upToDown 0.3s;
    color: #f55f8d;
  }
  
  @keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  

  

/* end header */





/* carousel */

.carousel{
    background-image: url(./img/pic2.png);
    padding-top: 180px;
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}

.carousel__banner{
    display: flex;
    align-items: center;
}


.carousel__left{
    width: 60%;
}


.carousel__banner .carousel__left h6{
    font-size: 22px;
    color: #f55f8d;
    margin-bottom: 20px;
}

.carousel__left h1 {
    font-size: 70px;
    color: #070120;
}

.carousel__left p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #636363;
}

.carousel__left li{
    font-size: 20px;
    padding: 10px 0;
    color: #636363;
}

.carousel__left li i{
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    margin-right: 10px;
}


.carousel__left .btn__color{
    margin: 20px 0;
}


.carousel__right{
    width: 40%;
}
.carousel__right img{
    margin-left: 50px;
    width: 430px
    height: 100%;
    display: block;

}

/* end carousel */


/* services */



.services{
    padding-top: 115px;
    text-align: center;
    background-image: url(./img/bg2.png);
    background-size: cover;
    background-position: top center;
}

.services__top h3{
    color: #f55f8d;
    font-size: 22px;
    margin-bottom: 20px;
}

.services__top h1{
    font-size: 70px;
    color: #070120;
    margin-bottom: 20px;
}


.services__bottom .services__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}



.card__title h1{
    font-size: 24px;
    margin: 15px 0;
}

.card__title p{
    font-size: 16px;
    line-height: 30px;
    opacity: 0.8;
}
.card__img img{
    width: 215px;
}

.services__bottom{
    margin-top: 40px;
}

.services__item{
    background: white;
    padding: 30px 45px;
    border-radius: 5px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: all 0.5s ;
}


.services__item:hover{
    transform: translateY(-20px);
}
/* end services */


/* about */

.about {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(./img/bg15.png);
    padding: 140px 0 85px 0;
    
}



.about p{
    line-height: 30px;
}
.about__banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.about__left{
    width: 60%;
    position: absolute;
    left: -17%;
}

.about__banner .about__left img{
   
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.about__right{
    width: 50%;
}


.about__right h3{
    font-size: 22px;
    margin-bottom: 15px;
    color: #f55f8d;
}


.about__right h1{
    font-size: 70px;
    margin-bottom: 20px;
    color: #070120;
}

.about__right p{
    font-size: 16px;
    color: #636363;
    margin-bottom: 15px;
}

.about__right li{
    font-size: 16px;
    color: #636363;
    margin-bottom: 10px;
    
}

.about__right i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px; 
    vertical-align: middle;
}

.about__right .btn__color{
    margin: 30px 0;
}
/* end about */

/* number */

.number{
    padding: 80px 0 50px 0;
    background-image: url(./img/bg14.png);
    background-repeat: no-repeat;
    background-position: center;
}

.number__banner{
    display: flex;
    justify-content: space-evenly;
}
.number__item i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
    text-align: center;
    

}
.number__item{
    text-align: center;
}
.number__item p{
    font-size: 18px;
}
.number__item .aaaa{
    color: #f55f8d;
    font-size: 65px;
    font-weight: 700;
}
/* end number */


/* contact */
.contact{
    padding-top: 100px;
    background-image: url(./img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow:  hidden;
}

.contact__left{
    width: 50%;
}


.contact__left h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}


.contact__left h1{
    font-size: 70px;
    margin-bottom: 20px;
    color: #070120;
}
.contact__card{
    padding: 0 50px 40px 0;
}

.contact__item .item__card i{
    font-size: 80px;
    color: #f55f8d;
    margin-right: 20px;
    transition: all 0.5s;
}


.contact__item .card__title h2{
    font-size: 24px;
    transition: all 0.5s;

}

.contact__left .contact__item .card__title p{
    font-size: 16px;
    color: #636363;
    line-height: 30px;
}
.contact .item__card{
    
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 20px;
    z-index: 4;
    background: white;
}


.card__dass{
    padding: 0 0 40px 50px;
}

.contact__banner{
    display: flex;
}


.contact__right{
    width: 50%;
}

.contact__right img{
    max-width: 100%;
    display: block;
    margin-left: 3px;
    margin-top: 50px;
    animation: animate 5s infinite;
}


.item__card::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    opacity: 0;
    background-size: 200%;
    z-index: -4;
    transition: all 0.5s;
}

.item__card{
    position: relative;
    overflow: hidden;
}


.contact__item .item__card p{
    transition: all 0.5s;
}

.contact__item:hover .item__card p{
    color: white;
}

.item__card:hover i,
.item__card:hover{
    color: white;
}
.item__card:hover::after{
    opacity: 1;
}


@keyframes animate{
    0%{
        transform: rotate(1deg) translate(2px, 2px);

    }
    50%{
        transform: rotate(-1deg) translate(-2px,-2px);
    }

    100%{
        transform: rotate(1deg) translate(2px,2px);

    }
}










/* end contact */








/* latest */
.latest{
    padding-top: 100px;
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.latest__top{
    text-align: center;
}


.latest__bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
    
}

.img__1{

    grid-column: 1 / 3;
}

.img__3{
    grid-column: 1 / 3;
}

.img__5{
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}



.latest__item{
    position: relative;
    overflow: hidden;
}

.latest__item::after{
    position: absolute;
    top: 0;
    /* display: block; */
    left: -100%;
    width: 50%;
    height: 100%;
    content: "";
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
    );
   transform: skewX(-25deg);
   transition: all 1s;
}

.latest__item:hover::after{
    left: 125%;
}

.latest img{
    /* display: block; */
    height: 100%;
}

.item__fake .item__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
    text-align: center;
    
}
.item__fake{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
    border-radius: 10px;
}
.item__icon i{
    color: white;
}


.item__title{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}

.item__title h1{
    font-size: 22px;
    font-weight: 800;
    color: white;
}
.item__title p{
    color: #e1e1f0;
    opacity: 0.7;
}

.latest__item:hover .item__icon{
    transform: translate(0);
}

.latest__item:hover .item__title{
    transform: translate(0);
}
.latest__item:hover .item__fake{
    opacity: 1;
}


.latest a{
    cursor: pointer;
}





/* end latest */




/* plan */
.plan {
    background-image: url(./img/bg16.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 115px;
}

.plan__top{
    text-align: center;
}



.plan__item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.plan__card{
    text-align: center;
    padding: 35px 60px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    border: 3px solid transparent;
    background: white;
    border-image: 100 round;
    transition: all 0.3s ;
}
.plan__card h2{
    font-size: 32px;
    
}

.plan__card img{
    width: 125px;
}

.plan .btn__color{
    margin: 0;
    
}

.plan li {
    margin: 20px 0;
    font-size: 18px;
}
.plan__ul{
    text-align: left;
    border-top: 1px solid #e1e1f0;
}

.plan__ul li i{
    font-size: 12px;
    padding: 10px;
    color: #f55f8d;
    background: #feeff3;
    border-radius: 100%;
    margin-right: 20px;
}

.plan__cardtop p{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 20px;
}

.plan__cardtop span{
    font-size: 50px;
    color: #F8AE56;
}


.plan__card:hover{
    border-image: url(./img/br.png) 1 round;
}
/* end plan */


/* our */

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding-top: 115px;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  
  


/* end our */






h3{
    font-size: 22px;
    color: #f55f8d;
    margin-bottom: 20px;
}


h1{
    font-size: 70px;
    color: #070120;
    margin-bottom: 20px;
}

img{
    width: 100%;
    
    border-radius: 10px;
}

/* our */


.our{
    padding-top: 115px;
    background-image: url(./img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}
.our__banner{
    text-align: center;
}

.box{
    border-radius: 10px;
    background: rgba(245,95,141,.1);
  }
 
  .box__top img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    display: block;
  
  }

.box__top{
    position: relative;
  }
  
  .box__top p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
  }
  
  .box__body h1{
    font-size: 24px;
  }
  .box__body p{
    font-size: 16px;
    opacity: 0.8;
    line-height: 20px;
  }
  .box__body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  
  
  .box__footer{
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
  }
  
  .box__footer p{
    padding: 20px 0;
    margin: 0 15px;
  }
  
  .box__footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
  }
  
  
  .box__footer span{    color: #f55f8d;}

/* end our */




/* footer */



.footer__form, .footer__text {
    width: 50%;
}

.footer__form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}

.footer__form input:focus, 
.footer__form input:hover {
    border-color: #f55f8d;
}


.footer__top-left {
    width: 50%;
}
.footer__top-left h2 {
    font-size: 28px;
    color: #262626;
}

.footer__top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer__item {
    width: 25%;
}

.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__item li {
    padding: 0.5rem 0;
}
.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}


.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50%;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}

footer {
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

.footer__item img{
    width: 174px;
    height: 55px;

}


.footer__item h3::after, 
.footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.footer__item h3::after {
    width: 45px;
    left: 20px;
}

.footer__item h3::before {
    width: 15px;
}

.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}

.footer__left span {
    color: #f55f8d;
}



.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}


.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}


.footer__item li:hover a{
    color: white;
}


.footer__right a:hover{
    background: #f55f8d;
}





/* end footer */



/* card */
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
 
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  

  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}



.testimonial-thumbs::before {
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial-thumbs::after {
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial-thumbs::after, 
.testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

.testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.swiper-slide-thumb-active .testimonial-pic::after, 
.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}

.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.testimonial-pic::after, 
.testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-pagination{
    right: 50%;
    transform: translateX(50%);
}


.swiper-pagination-bullet{
    margin: 0 5px;
    background: #f55f8d ;
}





.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial-name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 40px 15px;
    line-height: 30px;
    opacity: 0.7;
}

.testimonial-position{
    display: block;
    color: #f55f8d;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;

}


.testimonial{
        text-align: center;
        background-image: url(./img/bg17.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
}

/* end card */